# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# Sensitive Files
*.pem
*.key
*.crt

# Kubernetes
*.kubeconfig

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Backup
*.bak
